/* Контейнер */
.vsmodal {
    background-color: #efefef;
    /* Слой перекрытия */
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    
    background: rgba(0, 0, 0, 0.005);
    z-index: 10000;

    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    /* Скрываем изначально */

    opacity: 1;
    overflow: hidden;
    pointer-events: none;
    display: none;
}

/* Показываем модальное окно */
.vsmodal:target, .modalShow {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.vsmodal:target, .modalHide {
    display: none;
    opacity: 0;
    pointer-events: none;
}

/* Содержание */
.vsmodal > div {
    background-color: #efefef;
    background: rgba(0, 0, 0, 0.007);
    width: 369px;
    height: 100%;
    overflow: auto;
    position: relative;
    

    /* По умолчанию минимизируем анимацию */
    -webkit-animation: minimise 500ms linear;

 
}

.vsmodal h2 {
    font-size: 36px;
    padding: 0 0 20px;
}

/* Ссылка на кнопку Закрыть */
.vsmodal a[href="#close"] {
    position: absolute;
    left: 0;
    top: 0;
    color: transparent;
}

/* Сбрасываем изменения */
.vsmodal a[href="#close"]:focus {
    outline: none;
}

/* Создаем кнопку Закрыть */
.vsmodal a[href="#close"]:after {
    content: '×';
    display: block;
    font-size: 18px;

    /* Позиционируем */
    position: relative;
    left: 5px;
    top: 0px;
    width: 20px;
    padding: 1px 1px 1px 2px;

    /* Стили */
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.005);
    color: #000000;

}

.vsmodal a[href="#close"]:focus:after,
.vsmodal a[href="#close"]:hover:after {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
}

.vsmodal a[href="#close"]:focus:after {
    outline: 0 solid #000;
}

.vsmodal .modal_title {
    display: block;
    text-align: center;
    font-size: 22pt;
}

iframe {
    border: none;
}

#button_univef {
    color: white;
    cursor: pointer;
    /*background-color: #ff0099;*/
    border-radius: 50%;
    height: 60px;
    width: 60px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .3);
    float: left;
    margin: 50px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    position: fixed;
    text-align: center;
    font-size: 40px;
    line-height: 58px;
    -webkit-animation: button_univef 1.5s 0s ease-out infinite;
    -moz-animation: button_univef 1.5s 0s ease-out infinite;
    animation: button_univef 1.5s 0s ease-out infinite;
}



.left_bottom {
    left: 0;
    bottom: 0;
}

.right_bottom {
    right: 0;
    bottom: 0;
}
@media (max-width: 767px) {
   .vsmodal > div {
    background-color: #efefef;
    background: rgba(0, 0, 0, 0.007);
    width: calc(100vw - 1px);
    height: 100%;
    overflow: auto;
    position: relative;
    

    /* По умолчанию минимизируем анимацию */
    -webkit-animation: minimise 500ms linear;

 
} 
}