IndexIgnore */*
RewriteEngine on

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php
allow from all
php_value upload_max_filesize 100M
php_value post_max_size 100M

php_value max_input_vars 2000
php_value max_execution_time 360

php_value memory_limit -1
#Header add Access-Control-Allow-Origin "*"

<Limit GET POST PUT DELETE>
order deny,allow
allow from all
</Limit>