:root {
    --color-main: rgb(15, 120, 160);
    --color-main-light: rgb(66,169,208);
    --color-main-dark: rgb(5,77,104);
    --color-accent: rgb(255,139,14);

    --color-grey-black: rgb(54, 54, 53);
    --color-grey-darkest: rgb(75, 75, 74);
    --color-grey-darker: rgb(101, 101, 100);
    --color-grey-dark: rgb(178, 178, 177);
    --color-grey-medium: rgb(218, 218, 217);
    --color-grey-light: rgb(236, 236, 236);
}

@font-face {
    font-family: "Pragmatica";
    src: local("Progmatica"),
    url("/font/pragmatica_cyrillic.woff") format("woff"),
    url("/font/pragmatica_cyrillic.woff2") format("woff2");
}